body{
    background-color: rgb(8, 11, 22);
    /* height: 100vh; */
    /* display: flex; */
    /* align-items: center;
    justify-content: center;
    overflow: hidden; */
}
table{
    width: 100%;
    background-color: #151F28;
    
    outline: 10px solid #007bff;
}
img{
    border-radius: 50%;
    border: 3px solid black;
}
h1{
    color: beige;
}
/* }
----------------------------> */
    button {
    width: 10em;
      position: relative;
      height: 3.5em;
      border: 3px ridge #149CEA;
      outline: none;
      background-color: transparent;
      color: white;
      transition: 1s;
      border-radius: 0.3em;
      font-size: 16px;
      font-weight: bold;
      cursor: pointer;
    }
    
    button::after {
      content: "";
      position: absolute;
      top: -10px;
      left: 3%;
      width: 95%;
      height: 40%;
      background-color: #151F28;
      transition: 0.5s;
      transform-origin: center;
    }
    
    button::before {
      content: "";
      transform-origin: center;
      position: absolute;
      top: 80%;
      left: 3%;
      width: 95%;
      height: 40%;
      background-color: #151F28;
      transition: 0.5s;
    }
    
    button:hover::before, button:hover::after {
      transform: scale(0)
    }
    
    button:hover {
      box-shadow: inset 0px 0px 25px #1479EA;
    }
.box{
  height: 100px;
  width: 100px;
  background-color:lightgreen;
  box-shadow: 5px 5px 7px green;
  border-radius: 5%;
}
textarea{
  padding-bottom: 60px;;
  background: blueviolet;
  box-shadow: 5px 5px 7px blue,-5px -5px 10px red;
  height: 100px;
  width: 100px;
  
}
/* .slider{
  position: relative;
  width: 200px;
  height: 200px;
  
} */